{{ if (eq .chezmoi.os "linux" "android") -}}
#!{{ lookPath "fish" }}

echo -e "\0033[0;32m>>>>> Begin Setting Up Fish config <<<<<\033[0m"
fish_add_path {{ .chezmoi.homeDir }}/.local/bin
echo -e "\0033[0;32m>>>>> Finish Setting Up Fish config <<<<<\033[0m"
{{ end -}}
