{{   if (eq .chezmoi.os "linux") -}}
{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian")) -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Debian Packages <<<<<\033[0m"


# List of packages to install
packages=(
  curl
  git
  thefuck
  unzip
  python3-venv
)


{{ if (not .headless) -}}
packages+=(
)
{{ end -}}

for package in ${packages[@]}; do
  if ! $(dpkg-query -W -f='installed' $package &> /dev/null); then
    echo "installing $package"
{{ if ne .chezmoi.username "root" -}}
    sudo apt install -y $package
{{ else -}}
    apt install -y ${packages[@]}
{{ end -}}
  fi
done

# renovate: depName=wez/wezterm datasource=github-releases
current_wezterm_version=20240128-202157-1e552d76

if [ ! $(command -v wezterm) ] || [ $(wezterm -V | head -n1 | cut -d" " -f2) != "$current_wezterm_version" ]; then
  echo "installing / upgrading wezterm"
  curl -Lo /tmp/wezterm https://github.com/wez/wezterm/releases/download/"$current_wezterm_version"/WezTerm-"$current_wezterm_version"-Ubuntu20.04.AppImage
  chmod +x /tmp/wezterm
  mv /tmp/wezterm {{ .chezmoi.homeDir }}/.local/bin/wezterm
fi

echo -e "\033[0;32m>>>>> Finish Setting Up Debian Packages <<<<<\033[0m"
{{ end -}}
{{ end -}}
