{{ if .termux -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Termux Packages <<<<<\033[0m"

packages=(
  proot
  git
  unzip
  openssh
  jq
  yq
  kubectl
  helm
  starship
  direnv
  fzf
  bat
  zoxide
  ripgrep
  fd
  bat
  age
  dnsutils
  neovim

)

echo "updating packages"

pkg upgrade -y

for package in ${packages[@]}; do
  if [ "$(pkg list-installed $package 2>/dev/null | sed 's/\/.*//' | tail -n1)" != $package ]; then
    echo "installing $package"
    pkg install -y $package
  fi
done



# Install packages not available from termux repositories

## Check and create bin folder if not present
if [ ! -d {{ .chezmoi.homeDir }}/.local/bin ]; then
  mkdir -p {{ .chezmoi.homeDir }}/.local/bin
fi
export PATH={{ .chezmoi.homeDir }}/.local/bin:$PATH

# kubens

# renovate: depName=ahmetb/kubectx datasource=github-tags
current_kubens_version=v0.9.5

if [ ! $(command -v kubens) ] || [ $(kubens -V | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_kubens_version ]; then
  echo "installing / upgrading Kubens"
  curl -sSfL https://github.com/ahmetb/kubectx/releases/download/$current_kubens_version/kubens_$(echo $current_kubens_version)_linux_arm64.tar.gz | tar xzf - -C {{ .chezmoi.homeDir }}/.local/bin kubens
  chmod +x {{ .chezmoi.homeDir }}/.local/bin/kubens
fi

# talosctl

# renovate: depName=siderolabs/talos datasource=github-tags
current_talosctl_version=v1.11.2

if [ ! $(command -v talosctl) ] || [ $(talosctl version --short --client | tail -n1 | cut -d " " -f2) != $current_talosctl_version ]; then
  echo "installing / upgrading Talosctl"
  curl -sSfL -o {{ .chezmoi.homeDir }}/.local/bin/talosctl https://github.com/siderolabs/talos/releases/download/$current_talosctl_version/talosctl-linux-arm64
  chmod +x {{ .chezmoi.homeDir }}/.local/bin/talosctl
fi

echo -e "\033[0;32m>>>>> Finish Setting Up Termux Packages <<<<<\033[0m"
{{ end -}}
