if type -q flux
    flux completion fish | source
end

if type -q helm
    helm completion fish | source
end

if type -q cmctl
    cmctl completion fish | source
end

if type -q kubectl-cnpg
    kubectl-cnpg completion fish | source
end

if type -q kubectl
    kubectl completion fish | source
end

if type -q cilium
    cilium completion fish | source
end

if type -q talosctl
    talosctl completion fish | source
end
