{{ if .chezmoi.os eq "android" }}
sync_address = '{{ (rbwFields "chezmoi").atuin_server.value }}'
{{ else if eq .chezmoi.os "linux" }}
sync_address = '{{ (bitwardenFields "chezmoi").atuin_server.value }}'
{{ end }}
enter_accept = false
