{{ if (and (eq .chezmoi.os "linux") (not .termux)) -}}
registries:
  - type: standard
    ref: v4.319.0    # renovate: depName=aquaproj/aqua-registry

packages:
  - name: twpayne/chezmoi@v2.59.1
  - name: junegunn/fzf@v0.60.1
  - name: starship/starship@v1.22.1
  - name: ajeetdsouza/zoxide@v0.9.7
  - name: BurntSushi/ripgrep@14.1.1
  - name: sharkdp/fd@v10.2.0
  - name: sharkdp/bat@v0.25.0
  - name: eza-community/eza@v0.20.22
  - name: blacknon/hwatch@0.3.18
  - name: zellij-org/zellij@v0.41.2
  - name: gohugoio/hugo/hugo-extended@v0.144.2
  - name: dandavison/delta@0.18.2
  - name: ms-jpq/sad@v0.4.32
  - name: firecow/gitlab-ci-local@4.57.0
  - name: nektos/act@v0.2.74
  - name: atuinsh/atuin@v18.4.0
{{-   if .agekey }}
  - name: FiloSottile/age@v1.2.1
{{-   end }}
{{-   if not .headless }}
  - name: golang/go@1.24.0
  #- name: cli/cli@2.67.0
  - name: go-task/task@v3.41.0
  - name: direnv/direnv@v2.35.0
  - name: goreleaser/goreleaser@v2.7.0
  - name: influxdata/influx-cli@v2.7.5
{{-   end }}
{{-   if .kubernetes }}
  - name: mikefarah/yq@v4.45.1
  - name: kubernetes/kubectl@v1.32.2
  - name: ahmetb/kubectx@v0.9.5
  - name: fluxcd/flux2@v2.5.0
  - name: ahmetb/kubectx/kubens@v0.9.5
  - name: kubernetes-sigs/kustomize@kustomize/v5.6.0
  - name: kubernetes-sigs/krew@v0.4.4
  - name: mozilla/sops@v3.9.4
  - name: helm/helm@v3.17.1
  - name: helmfile/helmfile@v0.171.0
  - name: helm/chart-testing@v3.12.0
  - name: cilium/cilium-cli@v0.17.0
  - name: siderolabs/talos@v1.9.4
  - name: derailed/k9s@v0.40.5
  - name: budimanjojo/talhelper@v3.0.19
  - name: pulumi/pulumi@v3.152.0
{{-   end }}
{{- end }}
